{% load staticfiles %}
<div xmlns="http://www.w3.org/1999/html">

    {% block hrefs-main %}
        Лінки до тестування javascript:<br>
        <a href="{% url 'js_tests:js_tests' %}">To-Do Superlists - всі тести сайту</a><br>
    {% endblock hrefs-main %}

    {% block hrefs-apps %}
        Тести аплікацій:
        <br>
            <a href="{% url 'js_tests:accounts' %}">Accounts app</a>
            <a href="{% url 'js_tests:lists' %}">Lists app</a>
        <br>
        <br>
    {% endblock hrefs-apps %}

</div>

