{% extends "base_js_tests.html" %}

{% load staticfiles %}

{% block title %}
    Javascript tests - To-Do - Lists app
{% endblock title %}

{% block qunit-fixture %}
    <form>
        <input name="text" />
        <div class="has-error">Error text</div>
    </form>
{% endblock qunit-fixture %}

{% block tested_script %}
    <script src="{% static 'js/list.js' %}"              ></script>
{% endblock tested_script %}

{% block test_script %}
    <script src="{% static 'lists/test_lists.js' %}"   ></script>
{% endblock test_script %}

